.container {
    max-width: 50vw;
    margin: 0 auto;
    padding: 20px;
  }
  
  .company-details {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .company-details h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .company-details p {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .the-button {
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 4px;
    font-size: 18px;
  }
  
  .the-button:hover {
    background-color: rgb(9, 32, 177)
  }