body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 25vh;
  margin-left: 25vh;
}

.card {
  border: 1px solid #0d0a0a;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  width: 150px;
  padding: 15px;
  margin-bottom: 15px;
}

.card p {
  margin: 0;
  color: black;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 0 10px;
}
