.login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-form label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.login-form input {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #1a73e8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #1767d1;
}

.login-form p {
    margin-top: 20px;
}

.login-form a {
    color: #1a73e8;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

.background-image{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/mario-gogh-VBLHICVh-lI-unsplash.jpg');
    width: 100vh;
}