
.LoginPage {
    display: flex;
    height: 100vh;
  }
  
  .background-image {
    background-image: url(/src/images/mario-gogh-VBLHICVh-lI-unsplash.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #ccc; 
    color: aliceblue;
    text-align: end;
    text-decoration: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  
  .login-form {
    width: 50%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    padding: 20px;
    line-height: 2.2;
  }
  .logo{
    background-image: url(/src/images/logo.png);
    background-size: cover;
  }