.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: black;
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 11vw; 
  height: 100vh;
}


.top-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 10px;
  margin-left: 12vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7vh;
}
.searchbar {
  width: 75px; /* Adjust the width as needed */
 
}

.search-button {


  padding: 8px 15px;

  border-radius: 4px;

}

