
.task-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25vh;
  margin-left: 25vh;
}

.task-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  max-width: 250px;
  text-align: center;
}

.task-card h1 {
  font-size: 1.2em;
}

.task-card h2 {
  font-size: 1em;
  color: #555;
}

.task-card button {
  background-color: blue;
  color: white;

  padding: 8px 16px;
  text-align: center;

  display: inline-block;
  font-size: 14px;

  border-radius: 4px;
}
